.DS_Store
.venv
.claude
meditor/.env
trafficjam-be/utils
trafficjam-be/public_transport
trafficjam-be/plans
package-lock.json
map-data-service/.env
map-data-service/*.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
.ntvs
*.njsproj
*.sln
*.sw?

# Python compiled code
_pycache_/
*.pyc
__pycache__

# MATSim wrapper and server testing stuff
trafficjam-be/java/output
trafficjam-be/java/target
trafficjam-be/server-output.log
trafficjam-be/java/temp
