.DS_Store
.venv
.claude
meditor/.env
trafficjam-be/agents/__pycache__/work_assignment.cpython-313.pyc
trafficjam-be/agents/__pycache__/school_assignment.cpython-313.pyc
trafficjam-be/agents/__pycache__/transport_modes.cpython-313.pyc
trafficjam-be/agents/__pycache__/plan_creation.cpython-313.pyc
trafficjam-be/agents/__pycache__/matsim_xml.cpython-313.pyc
trafficjam-be/agents/__pycache__/daily_plans.cpython-313.pyc
trafficjam-be/agents/__pycache__/building_utils.cpython-313.pyc
trafficjam-be/agents/__pycache__/agent_creation.cpython-313.pyc
trafficjam-be/agents/__pycache__/agent_attributes.cpython-313.pyc
trafficjam-be/agents/__pycache__/__init__.cpython-313.pyc
trafficjam-be/__pycache__/main.cpython-313.pyc
trafficjam-be/utils/__pycache__/__init__.cpython-313.pyc
trafficjam-be/utils/__pycache__/building_utils.cpython-313.pyc
trafficjam-be/utils/__pycache__/coordinates.cpython-313.pyc
trafficjam-be/utils/__pycache__/file_management.cpython-313.pyc
trafficjam-be/utils/__pycache__/geo.cpython-313.pyc
trafficjam-be/utils/__pycache__/link_calculations.cpython-313.pyc
trafficjam-fe
trafficjam-fe
trafficjam-fe
