.container {
  padding: 8px;
  min-width: 150px;
}

.linkSection {
  margin-bottom: 8px;
}

.linkTitle {
  font-size: 12px;
  font-weight: bold;
}

.linkDetails {
  font-size: 11px;
  color: #666;
}

.routesSection {
}

.routesTitle {
  font-size: 11px;
  color: #444;
  font-weight: bold;
}

.routeItem {
  font-size: 11px;
  margin-top: 4px;
  padding-left: 4px;
  border-left: 3px solid;
}

.routeType {
  font-weight: bold;
  text-transform: uppercase;
}

.routeName {
  font-size: 10px;
  color: #666;
}
